.footerContainer {
    height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 0;
  }

  .footBox {
    width: 100%;
    background-color: rgb(22, 10, 10);
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
  }

  .boxContainer a{
    text-decoration: none;
      color: white;
  }

  .subTitleBox {
    font-size: .6rem;
    letter-spacing: 2.5pt;
    font-weight: 900;
    margin: 0;
  }

  .footTitle{
    font-size: 2.3rem;
    font-weight: 100;
    width: 80vw;
    margin: .3rem 0 .3rem -1.5rem;
    
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .social-icons a {
    margin: 2rem 1rem 0 1rem;
    color: white;
    font-size: 1.5rem;
  }
  
  .copy {
    margin-top: 2rem;
    /* height: 10vh; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    color: white;
    /* padding-bottom: 1rem; */

  }

  .techIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  
  .techIcons i {
    margin: 1rem;
    color: lightgray;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
  }
  
  .techIcons i:hover {
    transform: scale(1.2);
    color: orangered;
  }

  @media (min-width: 768px){
    .footerContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60vh;
    }
    .boxContainer{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .boxContainer a{
      width: 40%;
      display: inline-block;
      margin: 2rem;
      

    }

    .footBox{
      /* width: 27%; */
      height: 400px;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .footTitle{
      width: 100%;
    }

    .techIcons i{
      font-size: 5rem;
    }

    .social-icons a {
      margin: 2rem 1rem 0 1rem;
      color: rgba(255, 255, 255, 0.849);
      font-size: 2rem;
    }

    .social-icons a i:hover{
      transform: scale(1.2);
      color: orangered;
    }

    .copy{
      padding-bottom: 3rem;
    }
  }
  